<nav>
  <div class="nav-wrapper red darken-4">
    <a href="#" class="brand-logo">IPAPI</a>
    <ul id="nav-mobile" class="right">
      <li>{{#link-to 'recipes'}}All Recipes{{/link-to}}</li>
      <li><a href="#">Categories</a></li>
      <li><a href="sass.html">Developers</a></li>
    </ul>
  </div>
</nav>

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
