
<h5 class='center-align'>{{model.name}}</h5>

<div class='container'>
  <div class='row'>
    {{#each recipes in model}}
      <div class="recipe col m4">
        <strong>{{recipe.name}}</strong>
      </div>
    {{/each}}
  </div>
</div>
